#cadre{
    display: flex;
    /* text-align: center; */
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* width: 50v; */
    /* margin: auto; */
    height: 77vh;
    
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: auto; */
    width: 70vh;
    height: 30vh;
    background-color: #2874cad8;
    border-radius: 10px;
}
::placeholder{
    color: white;
    text-align: center;
}
.input{
    width: 80%;
    border-radius: 15px;
    border: 2px solid #787A7C;
    margin-top: 15px;
    background-color: #787A7C;
    color: white;
    font-size: large;
    padding: 10px;
}
input[type="submit"]{
    padding: auto;
    /* margin-top: 35px; */
    height: 40px;
    width: 60%;
    border-radius: 15px;
    background-color: #787A7C;
    color: white;
    font-size: large;
    font-weight: bold;
    border: none;
    cursor: pointer;
    position: relative;
    top: 40px;
    
}
h2{
    background-color: #2874cad8;
    width: 80vh;
    color: white;
    text-align: center;
    border-radius: 15px;
    border: 2px solid #787A7C;
    padding: 10px;
}
footer{
    width: 100%;
    background-color: #787A7C;
    position: absolute;
    bottom: 0;
    padding-top: 50px;
    height: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #585aecef;
}