#addTodo {
    background-color: #C6D7EB;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 15px;
    color: white;
    border-color: #C6D7EB;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#containtTodo {
    height: 76vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

#containtTodo p {
    width: 60%;
    border: 1px solid #5894d8;
    /* height: 50px; */
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px;
    background-color: peru;
    text-align: center;
    font-size: x-large;
}

#containtTodo button {
    background: none;
    border: none;
}
.widthtodo{
    width: 70%;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}
h4 {
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px;
    background-color: green;
    text-align: center;
    font-size: x-large;
}

.del {
    height: 55px;
    width: 40px;
    margin-left: 3px
}

.modif {
    height: 65px;
    width: 40px;
}

/* ---------------------------ADD TODO---------------------------- */

#containtAddTodo {
    width: 70vh;
    /* background-color: red; */
    height: 43vh;
    position: absolute;
    bottom: 35%;
    left: 25%;
    border: 1px solid #5894d8;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px;
    background-color: #787A7C;
    display: none;
    z-index: 1;
}

#close {
    float: right;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: -5px;
    width: 60px;

}

#containtAddTodo>form {
    height: 37vh;
    display: flex;
    flex-direction: column;
}

#containtAddTodo>p {
    border: 1px solid #5894d8;
    width: 70%;
    text-align: center;
    background-color: #5894d8;
    padding: 12px;
    border-radius: 10px;
    position: relative;
    top: 10%;
    left: 10%;
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

#containtAddTodo input {
    position: relative;
    top: 15%;
    left: 12%;
    width: 70%;
    height: 40px;
    margin-top: 20px;
    border: 1px solid #5894d8;
    border-radius: 10px;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

#submit {
    position: relative;
    top: 40%;
    left: 65%;
    padding: 10px;
    border: 1px solid #5894d8;
    border-radius: 10px;
    background-color: #5894d8;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    width: 120px;
}

button:hover,
#submit:hover {
    background-color: #787A7C;
    cursor: pointer;
}

button:active,
#submit:active {
    background-color: #5894d8;
}
select{
    width: 70%;
    background-color: white;
    position: relative;
    top: 25%;
    left: 12%;
    padding: 10px;
    text-align: center;
    border: 1px solid #5894d8;
    border-radius: 10px;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}