<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title> ADDPhoto</title>
    <link rel="stylesheet" href="../static/css/addPhoto.css">
</head>

<body>
    
    <div class="containt">
        <form>
            <input type="text" name="title" placeholder="title">
            <input type="url" placeholder="url" name="url">
            <input type="text" placeholder="thumbnailurl" name="thumbnailurl">
            <button type="submit" name="submit">valider</button>
        </form>
    </div>
    
</body>

</html>