{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href=" {{ url_for('static', filename='css/album.css') }} ">
<button id="addAlbum">ADD ALBUM</button>
<div class="album">
    <a href="#"><img src="{{ url_for('static', filename='img/avatarAlbum.jpeg') }}" alt=""></a>

    <a href="#"><img src="{{ url_for('static', filename='img/avatarAlbum.jpeg') }}" alt=""></a>
    
</div>
<div id="containtAddAlbum">
    <button id="close">
        <img src="{{ url_for('static', filename='img/close.png') }}" alt="">
    </button>
    <p>ADD ALBUM</p>
    <form action="">
        <input type="text" name="title" id="title" placeholder="Title">
        <button type="submit" id="submit">VALIDER</button>
    </form>
</div>

<script>
    let popup = document.getElementById("containtAddAlbum");
    let closeBtn = document.getElementById("close");
    let addAlbum = document.getElementById("addAlbum");

    addAlbum.addEventListener('click', ()=>{
        popup.style.display = 'block';
    });

    closeBtn.addEventListener('click' ,() => {
        popup.style.display = 'none';
    });
</script>
{% endblock %}
<!-- <script src="{{ url_for('static', filename='js/album.js') }}" defer></script> -->

