<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <title>Dashbord</title>
</head>
<body>
    <canvas id="line" width="400" height="400"></canvas>
    <canvas id="pie" width="400" height="400"></canvas>
    <canvas id="bar" width="400" height="400"></canvas>
    <script>
        
        const grapheLine = document.getElementById('line').getContext('2d');
        const myChart = new Chart(grapheLine, {
            type: 'line',
            data :{
                labels:{{list_post | safe }},

            }
        }
        </script>
    

        
</body>
</html>