{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/editpost.css') }}">
<div id="containtAddPost">
    <p id="editpost">EDIT POST</p>
    <form action="/editPost/{{post.postid}}" method="post">
        
        <input type="text" name="title" id="title" placeholder="Title" value="{{post.posttitle}}" required>
        <textarea name="content" id="content" cols="78" rows="10" placeholder="CONTENT" value="" required>{{post.postbody}}</textarea>

        <input type="submit" id="submit"  value="valider">
    </form>
</div>


{% endblock %}