{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/editpost.css') }}">
<div id="containtAddPost">
    <p id="editpost">EDIT POST</p>
    <form action="/editPost/{{post.postid}}" method="post">
        
        <input type="text" name="title" id="title" placeholder="Title" value="{{post.posttitle}}" required>
        <textarea name="content" id="content" cols="78" rows="10" placeholder="CONTENT" value="{{post.postbody}}" required></textarea>

    <form action="/editPost/{{post.postid}}" method="POST">
        
        <input type="text" name="title"  placeholder="Title" value="{{post.posttitle}}"><br>
        <textarea name="content"  cols="36" rows="5" placeholder="CONTENT" >{{post.postbody}}</textarea>
        <input type="submit"  value="valider">
    </form>
</div>


{% endblock %}