<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>identification</title>
    <link rel="stylesheet" href="conn.css">
</head>

<body>
    <div class="container">
        <!-- FORMULAIRE -->
    </div>
    <form action="">
        <p>Bienvenue</p>
        <input type="email" placeholder="Email"><br>
        <input type="password" placeholder="Mot de passe"><br>
        <input type="button" value="Connexion"><br>
        <a href="#">Mot de passe oublié</a>
    </form>

</body>

</html>