<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title> ADDPhoto</title>
    <link rel="stylesheet" href="../static/css/photo.css">
</head>

<body>
    <div class="container">
        <!-- FORMULAIRE -->
    </div>
    <form>
        <p>ADD PHOTO</p>
        <input type="Title" placeholder="title"><br>
        <input type="url" placeholder="url"><br>
        <input type="thumbnailurl" placeholder="thumbnailurl"><br>
        <input type="button" value="Valider" class="button"><br>
    </form>

</body>

</html>