<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_907258b2c63c33eda57d376d68b89fa5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_907258b2c63c33eda57d376d68b89fa5" ></div>
        
</body>
<script>    
    
            var map_907258b2c63c33eda57d376d68b89fa5 = L.map(
                "map_907258b2c63c33eda57d376d68b89fa5",
                {
                    center: [-37.3159, -37.3159],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_91893a141cc6ce07d68ffd698220832f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_907258b2c63c33eda57d376d68b89fa5);
        
    
            var marker_2e366c5c498e42c9e594835fe6236ba6 = L.marker(
                [-37.3159, -37.3159],
                {}
            ).addTo(map_907258b2c63c33eda57d376d68b89fa5);
        
    
        var popup_28d32685a5f20bda8530b2aef8a2db99 = L.popup({"maxWidth": "100%"});

        
            var html_92fd6d26d06bdf52d91e4cf6b624d373 = $(`<div id="html_92fd6d26d06bdf52d91e4cf6b624d373" style="width: 100.0%; height: 100.0%;">user:Leanne Graham</div>`)[0];
            popup_28d32685a5f20bda8530b2aef8a2db99.setContent(html_92fd6d26d06bdf52d91e4cf6b624d373);
        

        marker_2e366c5c498e42c9e594835fe6236ba6.bindPopup(popup_28d32685a5f20bda8530b2aef8a2db99)
        ;

        
    
    
            marker_2e366c5c498e42c9e594835fe6236ba6.bindTooltip(
                `<div>
                     appuiyez ici
                 </div>`,
                {"sticky": true}
            );
        
</script>