<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylebg.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/stylebg.css') }}"> -->
    <title>Document</title>
</head>

<body>
    <a href="#"><img src="../static/img/homee.png" alt=""></a>

    <div id="container">
        <div id="btns">
            <a href="#">
                <button class="btnP" id="btn1">AJOUTER</button>
            </a>
            <form action="/pagePrincipal" method="post">
                <a href="#">
                    <button type="submit" class="btnP" id="btn2">CHARGER</button>
                </a>
                <input type="number" name="input" class="numelt" placeholder="nbre elms à charger"  max="5" min="1">
            </form>
        </div>
        <!-- formulaire a revoir en cas de wouyayoe -->

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Website</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                {% for user in range(5) %}
                <tr>
                    <td>{{ users[user].name}}</td>
                    <td>{{ users[user].username}}</td>
                    <td>{{ users[user].email}}</td>
                    <td>{{ users[user].website}}</td>
                    <td>{{ users[user].phone}}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
    <footer></footer>
</body>

</html>