{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pageComment.css') }}">
<div class="button">
    <button id="addUser">ADD COMMENT</button>
    <div id="conteneur">
        <article>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque maxime eos rem ipsum ab similique iste
            praesentium reiciendis mollitia deleniti.
        </article>
    <div id="name">Name</div>
    <article id="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Iure odio nesciunt quas impedit deserunt iste nam quia quasi at accusamus ex omnis ab 
        quod, illo explicabo accusantium mol
    </article>
    </div>

</div>
{% endblock %}