<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Page d'accueil</title>
        <link rel="stylesheet" href="../static/css/pageindex.css">
    </head>
    <body>
        <div id="container">
            <div id="btns">
                <a href=" {{ url_for('adduser') }} ">
                <button class="btnP" id="btn1">NEW USER</button>
                </a>
                <a href="pagePrincipal">
                <button class="btnP" id="btn2">CHARGER</button>
                </a>
            
            </div>
    </body>
</html>