<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylebg.css">
    <script src="https://kit.fontawesome.com/6e2d550d7c.js" crossorigin="anonymous" ></script>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/stylebg.css') }}"> -->
    <title>Document</title>
</head>
<body>
    <a href="#"><img src="../static/img/homee.png" alt=""></a>

    <div id="container">
        <div id="btns">
            <a href="#">
            <button class="btnP" id="btn1">AJOUTER</button>
            </a>
            <a href="#">
            <button class="btnP" id="btn2">CHARGER</button>
            </a>
            <input type="text" class="numelt" placeholder="nbre elms à charger">
        </div>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Website</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>xxxxxx</td>
                    <td>xxxxxx</td>
                    <td>xxxxxx</td>
                    <td>xxxxxx</td>
                    <td>xxxxxx</td>
                </tr>

                <tr>
                    <td>xxxxxx</td>
                    <td>xxxxxx</td>
                    <td>xxxxxx</td>
                    <td>xxxxxx</td>
                    <td>xxxxxx</td>
                </tr>

                <tr>
                    <td>xxxxxx</td>
                    <td>xxxxxx</td>
                    <td>xxxxxx</td>
                    <td>xxxxxx</td>
                    <td>xxxxxx</td>
                </tr>

                <tr>
                    <td>xxxxxx</td>
                    <td>xxxxxx</td>
                    <td>xxxxxx</td>
                    <td>xxxxxx</td>
                    <td>xxxxxx</td>
                </tr>

                <tr>
                    <td>xxxxxx</td>
                    <td>xxxxxx</td>
                    <td>xxxxxx</td>
                    <td>xxxxxx</td>
                    <td>xxxxxx</td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer></footer>
</body>
</html>