{% extends 'base.html' %}


{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/photo.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pagination.css') }}">


<button id="addPhoto">NEW PHOTO</button>
<div id="containtPhoto">
<!-- <div class="containtPhoto"> -->

    {% for photo in photos.items%}
    <div class="photo">
        <h3>{{photo.phototitle}}</h3>
        <img src="{{photo.photourl}}" alt="{{photo.photothumbnailurl}}">
    </div>
    {% endfor %}

</div>

<div class="pagination">
    <!-- previous pages -->
    {% if photos.has_prev %}
    <li>
        <a class="directionLink" href="{{ url_for('photo', page=photos.prev_num) }}">previous</a>
    </li>
    {% endif %}
    
    <!-- all pages numbers -->
    {% for page_num in photos.iter_pages() %}
        {% if page_num %}
            {% if page_num != photos.page %}
                <li>
                    <a class="numPage" href="{{ url_for('photo', page=page_num) }}">{{ page_num }}</a>
                </li>
            {% else %}
                <li class="" >
                     <a class="activePage" href="#">{{ page_num }}</a>
                </li>
            {% endif %}
        {% else %}
                <li>
                    <span class="ellipsis"></span>
                </li>
        {% endif %}
    {% endfor %}
    
    <!-- next page -->
    {% if photos.has_next %}
    <li>
        <a class="directionLink" href="{{ url_for('photo', page= photos.next_num) }}">next</a>
    </li>
    {% endif %}
    </div>

<div id="containtAddPhoto">
    <button id="close">
        <img src="{{ url_for('static', filename='img/close.png') }}" alt="">
    </button>
    <p>NEW PHOTO</p>
    <form action="/addPhoto" method="post">
        <input type="text" name="title" id="title" placeholder="Title" required>
        <input type="url" name="url" placeholder="url" required>
        <input type="text" name="thumbnailUrl" placeholder="thumbnailUrl" required>
        <button type="submit" id="submit">VALIDER</button>
    </form>
</div>

<script>
    let addPhoto = document.getElementById("addPhoto");
    let popupAddPhoto = document.getElementById("containtAddPhoto");
    let popupCloseBtn = document.getElementById("close");

    addPhoto.addEventListener('click', () => {
        popupAddPhoto.style.display = 'block';
    });
    popupCloseBtn.addEventListener('click', () => {
        popupAddPhoto.style.display = 'none';
    });
</script>
{% endblock %}