{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/todo.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pagination.css') }}">


<button id="addTodo">NEW TODO</button>

<div id="containtTodo">
{% for todo in todos.items %}

    <div class="widthtodo">
    <h4 class="h4Etat">{{todo.todoetat}}</h4>
    <p class="contentP">{{todo.todotitle}}</p>

    <button id="edit">
        <a href="#"><img src="{{ url_for('static', filename='img/edit.png') }}" alt="" class="modif"></a>
    </button>

    <button id="delete">
        <a href="/deleteTodo/{{todo.todoid}}"><img src="{{ url_for('static', filename='img/delete.png') }}" alt="" class="del"></a>
    </button>
    </div>
    {% endfor%}
</div>

<div class="pagination">
    <!-- previous pages -->
    {% if todos.has_prev %}
    <li>
        <a class="directionLink" href="{{ url_for('todo', page=todos.prev_num) }}">previous</a>
    </li>
    {% endif %}
    
    <!-- all pages numbers -->
    {% for page_num in todos.iter_pages() %}
        {% if page_num %}
            {% if page_num != todos.page %}
                <li>
                    <a class="numPage" href="{{ url_for('todo', page=page_num) }}">{{ page_num }}</a>
                </li>
            {% else %}
                <li class="" >
                     <a class="activePage" href="#">{{ page_num }}</a>
                </li>
            {% endif %}
        {% else %}
                <li>
                    <span class="ellipsis"></span>
                </li>
        {% endif %}
    {% endfor %}
    
    <!-- next page -->
    {% if todos.has_next %}
    <li>
        <a class="directionLink" href="{{ url_for('todo', page= todos.next_num) }}">next</a>
    </li>
    {% endif %}
    </div>

<div id="containtAddTodo">
    <button id="close">
        <img src="{{ url_for('static', filename='img/close.png') }}" alt="">
    </button>
    <p>NEW TODO</p>
    <form action="/addTodo" method="POST">
        <input type="text" name="title" id="title" placeholder="Title" required>
        <select name="etat" id="etat" required>
            <option value="">Selectionner un état</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
        </select>
        <button type="submit" id="submit">VALIDER</button>
    </form>
</div>

<script>
    let addTodo = document.getElementById("addTodo");
    let popupCloseBtn = document.getElementById("close");
    let popupAddTodo = document.getElementById("containtAddTodo");
    let h4Etat = document.querySelectorAll('.h4Etat');
    let contentP = document.querySelectorAll('.contentP');

    for (i=0; i< contentP.length; i++){
        if(h4Etat[i].textContent == 'false'){
            h4Etat[i].textContent = "In Progress";
        }
        else{
            h4Etat[i].textContent = "Completed";
        }

    }
    console.log(h4Etat.length)
    addTodo.addEventListener('click', () => {
        popupAddTodo.style.display = 'block';
    });

    popupCloseBtn.addEventListener('click', () => {
        popupAddTodo.style.display = 'none';
    });

</script>
{% endblock %}