{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/todo.css') }}">

<button id="addTodo">ADD TODO</button>
<div id="containtTodo">
    <h4>etat</h4>
    <p>Content Todo</p>
    <button id="edit">
        <a href="#"><img src="{{ url_for('static', filename='img/edit.png') }}" alt="" class="modif"></a>
    </button>

    <button id="delete">
        <a href="#"><img src="{{ url_for('static', filename='img/delete.png') }}" alt="" class="del"></a>
    </button>
</div>

<div id="containtAddTodo">
    <button id="close">
        <img src="{{ url_for('static', filename='img/close.png') }}" alt="">
    </button>
    <p>ADD PHOTO</p>
    <form action="">
        <input type="text" name="title" id="title" placeholder="Title" required>
        <select name="etat" id="etat" required>
            <option value="Selectionner un état">Selectionner un état</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
        </select>
        <button type="submit" id="submit">VALIDER</button>
    </form>
</div>

<script>
    let addTodo = document.getElementById("addTodo");
    let popupCloseBtn = document.getElementById("close");
    let popupAddTodo = document.getElementById("containtAddTodo");

    addTodo.addEventListener('click', () => {
        popupAddTodo.style.display = 'block';
    });

    popupCloseBtn.addEventListener('click', () => {
        popupAddTodo.style.display = 'none';
    });

</script>
{% endblock %}