{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/userPost.css') }}">


<div class="button">
    <button id="addPost">ADD POST</button>
    {% for post in posts%}
    <h3>{{post.posttitle}}</h3>
    <article>{{post.postbody}}
    </article>
    {% endfor%}
</div>

<div id="containtAddPost">
    <button id="close">
        <img src="{{ url_for('static', filename='img/close.png') }}" alt="">
    </button>
    <p>ADD POST</p>
    <form action="">
        <input type="text" name="title" id="title" placeholder="Title">
        <textarea name="content" id="content" cols="36" rows="5" placeholder="CONTENT"></textarea>

        <button type="submit" id="submit">VALIDER</button>
    </form>
</div>

<script>
    let addPost = document.getElementById("addPost");
    let popupAddPost = document.getElementById("containtAddPost");
    let closePopupPost = document.getElementById("close");

    addPost.addEventListener('click', () => {
        popupAddPost.style.display = 'block';

    });

    closePopupPost.addEventListener('click', () => {
        popupAddPost.style.display = 'none';

    });
</script>
{% endblock %}
